<br>
<h1 align="center" style="color: green"><b><u> Create a new Heroine</u>!</b></h1>
<br>
<br>
<%= render "form" %>
<br>
<br>
<p><%= link_to "Wait, there are too many already, take me back!!!", heroines_path %></p>